@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
   html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

}
@layer components{
    .heading{
        @apply text-5xl font-bold text-indigo-500;
    }
    .heading-line{
        @apply bg-indigo-500 py-px w-12;
    }
}